---
title: "Home"
linkTitle: "Home"
---

{{< blocks/cover title="Puppet Editing. Redefined." image_anchor="top" height="full" color="orange" >}}

<div class="mx-auto">
  <a class="btn btn-lg btn-secondary mr-3 mb-4" href="vscode:extension/jpogran.puppet-vscode">
    Install <i class="fa fa-download ml-2 "></i>
  </a>
  <a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "./docs" >}}">
    Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
  </a>
  <p class="lead mt-5">Built on open source. Runs everywhere.</p>
  <div class="table">
    <!-- marketplace links -->
    <tr>
      <td><a class="" href="https://marketplace.visualstudio.com/items?itemName=jpogran.puppet-vscode" target="_blank"><img src="https://vsmarketplacebadge.apphb.com/version-short/jpogran.puppet-vscode.svg?colorA=222222&amp;colorB=FFAE1A" alt="marketplace" /> </a></td>
      <td><a class="" href="https://marketplace.visualstudio.com/items?itemName=jpogran.puppet-vscode" target="_blank"><img src="https://vsmarketplacebadge.apphb.com/installs-short/jpogran.puppet-vscode.svg?colorA=222222&amp;colorB=FFAE1A" alt="installs" /> </a></td>
      <td><a class="" href="https://marketplace.visualstudio.com/items?itemName=jpogran.puppet-vscode" target="_blank"><img src="https://vsmarketplacebadge.apphb.com/downloads-short/jpogran.puppet-vscode.svg?colorA=222222&amp;colorB=FFAE1A" alt="downloads" /> </a></td>
    </tr>
  </div>
  <div class="mx-auto mt-5">
    {{< blocks/link-down color="info" >}}
  </div>
</div>

{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
A Visual Studio Code extension that provides rich support for the Puppet language, including features such as syntax highlighting, [linting](docs/features/linting/),
[debugging](docs/features/debugging-puppet-code/), [IntelliSense](docs/features/intellisense/) and more.

This extension provides full Puppet Language support for Visual Studio Code.
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fab fa-microsoft" title="Download **from Marketplace**" url="https://marketplace.visualstudio.com/items?itemName=jpogran.puppet-vscode" %}}
Get the Puppet Extension
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/lingua-pupuli/puppet-vscode" %}}
We do a [Pull Request](https://github.com/lingua-pupuli/puppet-vscode/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/ender2025" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}

{{< /blocks/section >}}
